.alta_title {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}

.main-container__form {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);

    &-header {
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: bold;
        font-size: 32px;
    }
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;

    &__label-field {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 10px 30px;
        position: relative;
        width: 50%;
    }
    
    &__photo-field {
        width: 100%;
        position: relative;
        margin-bottom: 28px;
        padding: 0 10px 24px;
    }

    &__ship-field {
        padding: 10px;
        display: -webkit-box;
        display: flex;
        width: 50%;
        align-items: center;
        margin-top: 64px;
    }

    &__submit-button {
        margin-top: 5px;
        height: 100%;
        width: 100%;
        border-radius: 5px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all 0.3s ease;
        background: linear-gradient(135deg, #71b7e6, #9b59b6);

        &:hover {
            background: linear-gradient(-135deg, #71b7e6, #9b59b6)
        }
    }
}

.regexp {
    bottom: 0;
    display: none;
    position: absolute;
    color: red;
    font-weight: 500;
}

///////////// DRAG AND DROP ///////////////

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 500px;
    padding: 20px;
    text-align: center;
    margin: 20px auto 0;
}

.botonfoto {
    display: inline-block;
    padding: 6px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border-radius: 1px solid #ccc;
    margin: 4px 0;
}

#foto {
    display: none;
}

#gallery img {
    width: 180px;
    margin-top: 10px;
    vertical-align: middle;
}


#drop-area.highlight {
    border-color: purple;
}
/////////////               ///////////////

label {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 900;
    text-transform: uppercase;

}

input,
select,
textarea {
    display: flex;
    width: 100%;
    padding: 5px;
    margin: auto;
    justify-content: center
}

option {
    font-weight: 600;
}

table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
    text-transform: capitalize;
    border-width: 1px;
}

td img {
    width: 100px;
    height: 100px;
}

table {
    width: 90%;
    text-align: center;
    border-width: 1px;
}

#listado-productos {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

th,td {
    padding: 5px;
}

img {
    display: block;
    margin: 0 auto;
}


.arrow {
    display: flex;
    height: 56px;
    width: 100%;
    margin: 0 auto;
}

#listado-productos {
    margin-bottom: 8em
}

.botonAlta {
    padding: 7px;
    border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
    height: 31px;
    width: 88px;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;

    &:hover {
        background-color: #F1F2F3;
    }
}


@media (min-width:320px) and (max-width: 480px) {
   .main-container {
       &__form-header {
           margin-bottom: 35px;
           font-size: 30px;
       }
   }

   .flex-container {
       &__label-field {
           width: 100%;
           justify-content: center;
           padding: 10px;

           & label {
               margin-bottom: 5px;
           }
       }
   }
}


/* TABLA ALTA RESPONSIVE */

@media(max-width: 500px) {

    .sticky{
       position: static;
    }
    .arrow {
        display: flex;
        height: 64px;
        width: 100%;
        margin: 20px auto 5px;
        
        & h1 {
            font-size: 25px;
            text-align: center;
        }
    }
        
    table .thead{
        display: none;
    }
    table, table tbody, table tr, table td {
        display: block;
       /*  width: 100%; */
        max-width: 100%;
    }

    table tr {
        margin-bottom: 15px;
        border-radius: 10px;
    }

    table {
        border: 0;
    }

    table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

@media (max-width: 1200px) {
    .sticky{
        position: static;
     }
}