.section-cards {
    background-color: #f1f2f3;
    padding-bottom: 10em;
}

.section-fixed .section-cards, .section-fixed .nosotrosmain{
    padding-top: 120px;    
}

.section-fixed .mainn {
    padding-top: 107px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin: auto 22%; // MARGEN CARDS

}

@media (min-width: 1200px) {
    .cards-container {
        gap: 2em;

    }
}

@media (max-width: 1024px) {
    .cards-container {
        margin: 0;
        padding: 1em 1em;
    }

    .section-fixed .section-cards, .section-fixed .nosotrosmain{
        padding-top: 0;    
    }
    
    .section-fixed .mainn {
        padding-top: 0;
    }
}