.section-carrito {
    padding: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: auto;
    display: none;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    top: 180px;
    right: 0px;
    left: 82%;
    bottom: 150px;
    box-shadow: -15px 2px 19px -2px rgba(0,0,0,0.1);
    
	border-top-left-radius: 10px; -webkit-border-top-left-radius: 10px; -moz-border-top-left-radius: 10px; 
	border-top-right-radius: 0; -webkit-border-top-right-radius: 0; -moz-border-top-right-radius: 0; 
	border-bottom-left-radius: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-bottom-left-radius: 10px; 
	border-bottom-right-radius: 1px; -webkit-border-bottom-right-radius: 1px; -moz-border-bottom-right-radius: 1px; 
    border-top: 0 solid #000000;
    border-bottom: 0 solid #000000;
    border-left: 0 solid #000000;
    -webkit-animation: slide-in-right 0.2s ease-out forwards;
    animation: slide-in-right .2s ease-out forwards;


    // KEYFRAMES POP-UP CARRITO
    @-webkit-keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-right {
        0% {
          -webkit-transform: translateX(1000px);
                  transform: translateX(1000px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
        }
      }
    //////////////////////////
    

    &--visible {
        display: block;
        
        & h2 {
            position: relative;
    top: 48%;
    text-align: center;
        }
    }

    table {
        width: 95%;
        margin: 10px auto;
    }

    table,th,td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }

    table button {
        margin-top: 10px;
        margin-left: 10px;
        width: 100px;
        height: 35px;
        font-size: 1.1em;
        font-weight: bold;
        margin-bottom: 15px;
    }

    button.btn__enviarCarrito {
        float: right;
        margin: 20% 13px;
        width: 141px;
        height: 45px;
        font-size: 1.0em;
        font-weight: bold;
        border: 0;
        background-color: #A4A9F6;
        border-radius: 5px;
        cursor: pointer;
        position: relative;

        &::after {
            position:absolute;
            top:0;
            display:block;
            content:"";
            width:100%;
            height:3px;
            background-color:#444;
            transform:scale3d(0,1,1);
            transform-origin:left;
            transition:transform .5s;
       }
       &:hover::after {
            transform:scale3d(1,1,1);
       }

    }
    button.btn__borrarCarrito {
        float: right;
        margin: 20% 13px;
        width: 120px;
        height: 45px;
        font-size: 1.0em;
        font-weight: bold;
        border: 0;
        background-color: #f1f2f3;
        cursor: pointer;
        border-radius: 5px;
    }

}

.card-carrito {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;

    &__image img {
        width: 100px;
        height: 100px;
    }

    &__name {
        width: 200px;
        text-align: end;
        
        & h3, h4 {
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
        }
    }
  }


  @media screen and (max-width: 480px) {
    .section-carrito {
      bottom: 290px;
      left: 36%;
      
      
    }
    .section-carrito button.btn__borrarCarrito,  .section-carrito button.btn__enviarCarrito {
      width: 81px;
    }
    
  }

  @media screen and (min-width:768px) {
    .section-carrito {
      bottom: 290px;
      left: 59%;
    }
    .section-carrito button.btn__borrarCarrito,  .section-carrito button.btn__enviarCarrito {
      width: 118px;
    }
  }

  @media screen and (min-width: 1024px ) {
    .section-carrito {
      bottom: 238px;
      left: 66%;
    }
    .section-carrito button.btn__borrarCarrito,  .section-carrito button.btn__enviarCarrito {
      
    width: 139px;


    }

  }

  @media screen and (min-width: 1200px ) {
    .section-carrito {
      bottom: 238px;
      left: 69%;
    }
  }

  @media screen and (min-width: 1201px ) {
    .section-carrito {
      bottom: 293px;
      left: 79%;
    }
  }

