.logo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 2px;


    img {
        display: flex;
        width: 200px;
        background-color: #fff;
        background-attachment: scroll;
    }
}