.alta_title {
    font-family: 'Julius Sans One', sans-serif;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
}

.form-alta {
    margin: 100px 30%;
    background-color: #EDEDED;
    border: 2px solid pink;
    padding: 20px;

    &_title {
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: bold;
        font-size: 32px;
    }

    &_fieldset {
        margin-top: 5%;
        padding: 20px;
        border-radius: 10px;
        background-color: #fff;
    }
}


label {
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 900;
    text-transform: uppercase;

}

input,
select,
textarea {
    display: flex;
    width: 100%;
    padding: 5px;
    margin: auto;
    justify-content: center
}

option {
    font-weight: 600;
}

.separador {
    border-bottom: 2px solid grey;
    margin: 10px 0;
    width: 50%;
}

.shipping {
    display: flex;

    input[type=checkbox] {
        transform: scale(1.5);
        width: 10%;
        margin-left: 0;
    }
}

.submit {
    margin-top: 2%;
    width: 15%;
    height: auto;
}

@media (max-width: 768px) {
    .form-alta {
        margin: 10px 20px;
    }

    .submit {
        width: 25%;
    }
}

@media (max-width: 1024px) {
    .form-alta {
        margin: 10px 20px;
    }
}

@media (max-width: 1200px) {
    .form-alta {
        margin: 10px 20px;
    }
}

@media (min-width: 1201px) {
    .form-alta {
        margin: 10px 30%;
    }
}