.form-contacto {
    display: flex;
    float: inline-start;
    margin: 0 20%;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    float: left;
}

.contacto-imagen {

    img {

        border: 2px solid red;
    }
}